OTEL_SDK_DISABLED=true
OTEL_TRACING=False
ANGULAR_APP_NAME=appname
OPENAPI_FILE_PATH=<absolutepath to json file defining an API with OpenAPI document>
DELETING_OUTPUT=true

LOCAL_TARGET_PROJECT_PATH=<absolute-path>/output
LOCAL_ORIGIN_PROJECT_PATH=<absolute-path>/input
LOCAL_ANGULAR_PROJECT_PATH=${LOCAL_TARGET_PROJECT_PATH}/${ANGULAR_APP_NAME}

TARGET_PROJECT_PATH=/output
ORIGIN_PROJECT_PATH=/input_jsps
ANGULAR_PROJECT_PATH=${TARGET_PROJECT_PATH}/${ANGULAR_APP_NAME}
NODE_MODULES_PATH="${ANGULAR_PROJECT_PATH}/node_modules"

LOCAL_GENREVIVE_PATH=../genrevive
LOG_PATH=./logfile.log

# Required
AZURE_API_KEY=<your-api-key>
AZURE_API_BASE=<your-resource-url without any path or query components>
AZURE_API_VERSION=<api-version>
AGENT_MODEL="azure/gpt-4o"

# Context (Used for agent creation)
ORIGIN_TECHNOLOGY="Java Swing"
TARGET_TECHNOLOGY="Angular TypeScript"
ORIGIN_INPUT="Swing MVP files"
TARGET_OUTPUT="Angular components"
COMPILER_TECHNOLOGY="Angular CLI"

LANGFUSE_TRACING=True
LANGFUSE_HOST=http://localhost
LANGFUSE_PUBLIC_KEY=<your-public-key>
LANGFUSE_SECRET_KEY=<your-secret-key>
