# Set the LLM model name to be used by the agent in this migrator
AGENT_MODEL = ""   # LLM Provider name/model e.g. azure/gpt-4 etc.

# LLM configuration variables according to CrewAI documentation, example for Azure:
AZURE_API_VERSION=""
AZURE_API_DEPLOYMENT=""
AZURE_API_BASE=""
AZURE_API_KEY=""

# Monitoring and Evaluation of your application
LANGFUSE_TRACING=true 
LANGFUSE_PUBLIC_KEY="pk-lf-"
LANGFUSE_SECRET_KEY="sk-lf-"
LANGFUSE_AUTH = ""

# Enable/Disable Training Mode
TRAINING_MODE=false
TRAINING_ITERATIONS=1

# Disable OpenTelemetry
OTEL_SDK_DISABLED=true

# Logging
LOG_PATH="<your-workspace_path>/logfile.log"

# Context (Used for agent creation)
ORIGIN_TECHNOLOGY="Java Swing"
TARGET_TECHNOLOGY="Angular TypeScript"
ORIGIN_INPUT="Swing MVP files"
TARGET_OUTPUT="Angular components"
COMPILER_TECHNOLOGY="Angular CLI"

# Inputs (Use specific variable names)
SWING_PROJECT_PATH=""

# Outputs (Use specific variable names)
TARGET_PROJECT_PATH=""
ANGULAR_APP_NAME=appname
ANGULAR_PROJECT_PATH=${TARGET_PROJECT_PATH}/${ANGULAR_APP_NAME}
NODE_MODULES_PATH="${ANGULAR_PROJECT_PATH}/node_modules"

# Shell execution
USE_SHELL=false

#Executes the ng build either locally or in a Docker container
USE_LOCAL_NPM=True

#Deleting the old anular project {ANGULAR_APP_NAME}
DELETING_OUTPUT=False

OPENAPI_FILE_PATH="{SWING_PROJECT_PATH/api.yml"